.Team {
    margin: 0;
    padding: 0;
    width:100%;
    height:200vh;
}

.Team2 {
    margin: 0;
    width:100%;
    height:80vh;
}

.People {
    width:  100%;
    height: 50vh ;
    top: 8vh;
    position: absolute;
    background: url('../../../images/team.jpg') center/cover fixed no-repeat;
}

.PeopleHeader {
    height: 50vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.PeopleExplain {
    display: grid;
    justify-items: center;
    
}

.PeopleExplain h1 {
    font-size: 2.5rem;
    color: white;
}

.PeopleExplain p {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.MinisterTitle  {
    display:flex;
    justify-items: flex-start;
    align-content: center;
    padding: 2rem 0  0 3.5rem;
    font-size:  1.5rem;
}

.MinisterTitle h1 {
    margin: 0;
    font-family: 'Jua', sans-serif;
}

.HochiminhMinister {
    padding: 2rem 4rem 2rem 4rem;
    width:100%;
    height: 60vh;
    display:grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}


.HanoiMinister {
  padding:2rem 4rem 2rem 4rem;
  width:100%;
  height:40vh;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:2rem;
}
.MinisterBox {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
}

.MinisterExplain {
    padding-top: 3.5rem;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Do Hyeon', sans-serif;
    justify-content: flex-start;
}

.MinisterExplain h3 {
    margin:0;
    padding-bottom: 0.3rem ;
    font-size: 2rem;
}

.MinisterExplain p {
    margin:0;
    padding-bottom: 1rem;
    font-size:1.2rem;
}

.MinisterExplain span {
    font-size:1.1rem;
    color: #223973;
    line-height:1.6rem ;
}




figure.snip1283 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 1.2rem;
  -webkit-perspective: 50em;
  perspective: 50em;
}

figure.snip1283 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

figure.snip1283 img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

figure.snip1283 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 1;
  opacity: 0;
  padding: 4rem 2rem;
}

figure.snip1283 p {
  line-height: 2em;
}

figure.snip1283 h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}

figure.snip1283 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}

figure.snip1283 .read-more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

figure.snip1283 .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}

figure.snip1283:hover img,
figure.snip1283.hover img {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  opacity: 0;
}

figure.snip1283:hover figcaption,
figure.snip1283.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


.HanoiMinister {
    display:grid ;

}



/* .PeopleBox1 {
  background: url('../../../images/jang.jpeg') center top /cover no-repeat;
  background-size: 100%;
}

.PeopleBox2 {
    background: url('../../../images/jang.jpeg') center top /cover no-repeat;
    background-size: 100%;   
}

.PeopleBox3 {
    background: url('../../../images/jang.jpeg') center top /cover no-repeat;
    background-size: 100%;
}

.PeopleBox4 {
  background: url('../../../images/jang.jpeg') center top /cover no-repeat;
  background-size: 100%;
}

.PeopleBox5 {
  background: url('../../../images/jang.jpeg') center top /cover no-repeat;
  background-size: 100%;
}

.PeopleBox6 {
    background: url('../../../images/jang.jpeg') center top /cover no-repeat;
    background-size: 100%;
} */

.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7a7a7a;
  display:grid;
  align-content: center;
}

.overlay span {
    display: grid;
    justify-items:center;
    font-size:1.2rem;
    font-weight: bold;
}

.overlay p {
    padding: 0 1rem;
    text-align: center;
}

.overlay:hover {
  opacity: 0.9;
  color: #ffffff;
}


.TeamColor {
    color: black;
}

/* mobile  */

@media screen and (max-width:776px) {

    .HochiminhMinister {
        display: block;
        padding:1.5rem 1rem 3rem 1rem;
    }

    .HanoiMinister {
      display:block;
      padding:0 1rem 3rem 1rem;
    }

    .MinisterTitle {
      display:none;
    }

    .MinisterExplain {
      padding: 10px 0 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .MinisterExplain span {
      display:none;
    }

    .MinisterFooter {
      display: none;
    }

    figcaption {
      width:100%;
      height :100% ;
      font-size:5px;
      display: flex;
      align-items: center;
      line-height: 2;
      text-align: center;
    }
}