.Info {
    width: 100%;
    height: 100vh; 
    background: #d5d7d6;
    z-index:-1;
    display: grid;
    align-content: center;
    justify-content: center;
}

.InfoTitle {
    height: auto;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: flex-end;
}

.InfoTitle h1 {
    padding-top: 3rem;
    font-size: 3rem;
}

.InfoTitle p {
    font-size: 1.2rem;
    color: #7d7d7d;
    padding-bottom: 2rem;
}

.WholeBox {
    width: 85vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:3rem;
    align-items: center;
    justify-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin:0;
}

.BoxLeft {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url('../../images//LeftBox.jpg') center/cover fixed no-repeat;
    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 2s ease, 
        color 2s ease, 
        padding 1.5s linear;
}

.BoxLeft:hover {
    cursor: pointer;
    background: black;
    color: white;
    padding-right: 2rem;
}

.BoxRight {
    width: 100%;
    height: 100%;
    background: url('../../images//RightBox.jpg') center/cover fixed no-repeat;
    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 2s ease, 
        color 2s ease, 
        padding 1.5s linear;
}

.BoxRight:hover {
  cursor: pointer;
  background: #ffffff;
  color: black;
  padding-left: 2rem;
}

@media screen and (max-width: 776px){

    .InfoTitle {
        width: 100%;
        height: 100%;
    }


    .InfoTitle h1{
      font-size: 2rem;
    }

    .InfoTitle p {
        width: 100%;
        font-size: 1.2rem;
        text-align: center; 
    } 

    .WholeBox {
        width: 100%;
        height: 60%;
        display:block;
    }

    .WholeBox p {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .arrow {
        display: none;
    }
}

.modalboxLeft {
    /* background: url('../../images/LeftBox.jpg') center/cover no-repeat; */
    background: black;
    opacity: 0.8;
    color: #ffffff;
    text-align: center;
    padding: 2rem 2rem;
    height: 70vh;
    width: 100%;
    height:100%;
}

.modalboxLeft h1 {
    font-size: 3rem;
    color: #ffffff;
}

.modalboxLeft span {
    font-size: 1.5rem;
}

.modalboxLeft p {
    font-size: 1rem;
}

.modalboxRight {
  background: black;
  opacity: 0.8;
  color: #ffffff;
  text-align: center;
  padding: 2rem 2rem;
  height: 70vh;
  width:100%;
  height:100%;
}

.modalboxRight h1 {
  font-size: 3rem;
  color:#ffffff;
}

.modalboxRight span {
  font-size: 1.5rem;
}

.modalboxRight p {
  font-size: 1rem;
}