.Intro {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 219vh;
}

.Introduction {
    width: 100%;
    height: 50vh;
    top: 8vh;
    position: absolute;
    background: url('../../../images/intro.jpg') center/cover fixed no-repeat;
}

.IntroHeader {
    height: 50vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.IntroExplain {
    display: grid;
    justify-items: center;
}

.IntroExplain h1 {
    font-size: 2.5rem;
    color: white;
}

.IntroExplain p {
    font-size: 1.5rem;
    color:  white;
}

.IntroBox {
    position: absolute;
    top:60vh;
    width: 100vw; 
    padding-top: 2.5rem; 
}

.IntroBox p {
    display: grid;
    justify-items: center;
    font-size: 1.2rem;
}


.BoxExplain {
    width: 100vw;
    height: auto;
    display:grid;
    justify-items: center;
    align-items: flex-end;
    font-size: 2.5rem ;
    color: #7a7a7a;
    margin: 3rem 0;
}

.Boxs {
    padding-top: 1.5rem;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}

.BoxBackground {
    border: 1px solid black;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    
}

.svgTarget:hover {
    transform: scale(1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

#boxid {
    display:grid;
    align-items: center;
    justify-items: center;
}

#boxid svg {
    width: 12vw;
    height:auto;
    padding: 2rem;
}

#boxid img {
    width: 30vh;
    height: 30vh;   
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.BoxTitle {
    margin-top:1rem;
    font-size: 1.4rem;
    display:grid;
    justify-items: center;
}

.IntroColor {
    color:black;
}

.TabBox {
    padding-top: 3rem;
}

/* min-width*/

@media screen and (max-width:776px) {
  .IntroColor {
      color: #000000;
  } 
}

@media screen and (max-width:776px) {
    .introColor .ShadowTitle{
        color: #000000;
    }

  .IntroBox  {
    display: 'block';
  }

  .IntroBox p {
      text-align: center;
      font-size: 1.1rem;
      padding: 0 15px;
  }

  .Boxs {
      display: block;
  }

  .BoxBackground {
      display: none;
  }
}

