.modal-main {
  position: fixed;
  width: 60vw;
  height: 65vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.display-block {
  transition: opacity 1s ease-out;
  width:0;
  height:0;
  opacity: 1;
  
}

.modal-main button {
  position: absolute;
  left: 92%;
  width: auto;
  background: none;
  border: none;
  padding-top: 1px;
}