.Contact {
    width:100%;
    height:100vh;
    background:#d5d7d6;
    display: grid;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 776px) {
  .ContactTitle {
      display:none;
  }
  .Map {
      padding-top:1.2rem;
  }
}