header {
    display:grid;
    height: 8vh;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    font-size: 20px;
}

header .Title {
    display: grid;
    font-weight: bold;
    justify-content: left;
    align-items: center;
    margin-left: 3rem;
}

header .header-Item {
    display: grid;
    align-items: center;
    justify-content: center;
}