header .HeaderTop {
    margin-top: 0.5rem;
    padding:0;
    width: 100%;
    height: 8vh;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    z-index: 1;
    align-items: center;
}


.Header h1 {
    margin-left: 3.5em;
    display: grid;
    font-size: 2.1rem; 
    align-items: center;
    font-family: cursive;
    font-weight: bold;
}



.HeaderTop nav ul {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    font-size: 1.4em;
}

.HeaderTop nav ul li {
    transition: color 2s ease,
    padding 1s ease;
}

.HeaderTop nav ul li:hover {
    cursor:pointer;
    color: black;
    padding-left:15px;
}

@media screen and (max-width:776px) {
  .HeaderTop nav {
    display: none;
  }
  .HeaderTop h1 {
      display: none;
  }
}

@media screen and (min-width:776px) {
    .ShadowTop  {
        display: none;
  }
    #ShadowTitle {
        display:none;
    }
}

.ShadowTop {
    position: fixed;
    width: 100%;
    height: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right:  2rem;
    justify-items: center;
    align-items: center;
}

#ShadowTitle {
    color: #292c33;
    width: 100%;
    height:100%;
    font-size: 1.5rem;
    display: grid;
    justify-items: flex-start;
    align-items: center;
    padding-left: 1.5rem;
    font-family: cursive, bold;
}

.ShadowDown {
    height:100%;
    color: #292c33;
    width: 100%;
    display: grid;
    justify-items: flex-end;
    align-items: center;
}

.dropDown {
    font-size: 2rem;
    color: #292c33;
}





