.Middle {
    margin: 0;
    padding: 0;
}

.CarouselBox1 {
    display: grid;
    background: url('../../images/cross.jpg') center/cover ;
    width: 100vw;
    height: 100vh;
}

.CarouselBox2 {
  display: grid;
  background: url('../../images/cross2.jpg') center/cover;
  width: 100vw;
  height: 100vh;
}

.CarouselBox3 {
  display: grid;    
  background: url('../../images/cross3.jpg') center/cover;
  width: 100vw;
  height: 100vh;
}

.CarouselBox4 {
    display: grid;
    background: url('../../images/cross4.jpg') center/cover;
    width: 100vw;
    height: 100vh;
}