/*Video Presenter*/
#VideoPresenterBox {
  display:grid;
  width: auto;
  height: auto;
  align-items:center;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s ease;
}

.VideoFrame {
  width: 100%;
  height: 100%;
}

.VideoFrame .innerFrame {
  width:100%;
  height: 100%;
}

.ViedoExplain {
  text-align: center;
  width:100%;
  height:60%;
  display: grid;
  grid-template-rows: 1fr 1fr;  
  align-content: center;
  justify-items: center;
}

.ViedoExplain h3 {
  height: auto;
  display: grid;
  align-content: center;
  font-size: 1.5rem;;
  font-family: 'Viga', sans-serif;
}

.ViedoExplain p {
  display: grid;
  font-size: 1rem;
  align-items: center;
}

.VideoSpan {
  height: auto;
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.VideoSpan span {
  display: flex;
  width:100%;
  justify-content: center;
  color: #2157a7;
  font-size: 1rem;
}

/* Video */ 
.ItemBox0:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.ItemBox1:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.ItemBox2:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.ItemBox3:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.ItemBox4:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.ItemBox5:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}


@media screen and (max-width:776px) {
  #VideoPresenterBox {
   display: grid;
   grid-template-rows: 1fr 1fr;
  }

  .VideoFrame {
    width:100%;
    height:100%;
  }

  .ViedoExplain {
    text-align: center;
    padding: 0.5rem 0.5rem;
  }

  .ViedoExplain h3 {
    font-size: 1rem;
    margin:0;

  }

  .ViedoExplain p {
    margin: 0;
  }

}