#Tab {
    margin: 0;
    padding: 0;
    width: 100vw;
    height:auto;
}

.TabBox1 {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../../images/church1.jpg') center/cover no-repeat;
}

.TabBox2 {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('../../images/church2.jpg') center/cover no-repeat;
}

.TabBox3 {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('../../images/church3.jpg') center/cover no-repeat;
}

.TabBox4 {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('../../images/church4.jpg') center/cover no-repeat;
}

.TabBox5 {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('../../images/church5.jpg') center/cover no-repeat;
} 

.ant-tabs-nav-container {
  top:-6.5rem;
  color: #ffffff;
  text-decoration: none;
  display: grid;
  justify-items: center;
  height: 5vh;
  border-style: none;
} 

.ant-tabs-bar .ant-tabs-bottom-bar{
  border:none;
  border-style: none;
}
.ant-tabs-bottom-bar {
  border-style: none;
  border: none;
}

.TabIntro {
  width: 100%;
  height: 95vh;
  display: grid;
  justify-items: flex-end;
  padding-right: 3rem;
  align-content: center;
  color: #ffffff;
}

.TabIntro h2 {
  color: #ffffff;
  font-size: 3rem;  
  font-family: 'Libre Baskerville',
  serif;
}

.TabIntro span {
  font-size: 2rem;
  font-family: 'Patua One', cursive;
  ;
}

.TabIntro p {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 3rem;
  padding-left: 8rem;
  line-height:2.5rem;
  font-family: 'Archivo Narrow',
  sans-serif;
}

@media screen and (max-width:776px) {
  .TabIntro {
      padding: 0;
      display: grid;
      justify-items: center;
      justify-content: center;
  }

  .TabIntro h2 {
    font-size: 1.8rem;
    color: #f9ebdd;
  }
  .TabIntro span {
    font-size: 1.4rem;
  }

  .TabBox .TabIntro p {
    padding: 1rem;
    display: block;
  }

  .ant-tabs-nav-container {
    width:100%;
    height: 100%;
    justify-items: center; 
    display:grid;
  }

  .ant-tabs-tab-prev-icon svg{
    width:25px;
    height:auto;
    color:#ffffff;
  }

  .ant-tabs-tab-next-icon svg{
    width:25px;
    height:auto;
    color:#ffffff;
  }

  .ant-tabs-nav-wrap {
    display: grid;
    justify-items: center;
    justify-content: center ;
  }
}

