.Footer {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1rem;
  font-family: 'Fjalla One', sans-serif;
  background: #3d3b41;
  z-index: 0;
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.footerExplain {
  width:100%;
  height:100%;
  padding-left: 2rem;
  display: grid;
  align-content: center;
  font-weight: lighter;
  justify-items: flex-start;
}


.footerIcon {
  height: 100%;
  width: 100%;
  display:grid;
  align-items: center;
  grid-gap:1rem;
  grid-template-columns: 1fr 1fr;
}

.anticon-facebook {
  display: grid;
  justify-items: flex-end;
}

.anticon-facebook svg:hover {
  color: #e1e1e1;
  cursor: pointer;
}

.anticon-instagram {
  display: grid;
  justify-items: flex-start;
}

.anticon-instagram svg:hover {
  color: #e1e1e1;
  cursor: pointer;
}

@media screen and (max-width:776px) {
  .Footer {
    display: block;
  }
  .footerExplain {
    padding-left:1.2rem;
    text-align: center;
  }
  .footerIcon {
    display: none;
  }
}