.Mission {
    width: 100%;
    height:100vh;
    z-index: -1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../../images//Mission.jpg') center/cover fixed no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.MissionTitle {
    padding-top:3.5rem;
    width:  100%;
    display: grid;
    align-items: center ;
    justify-items: center;
}

.MissionTitle h1 {
    display: grid;
    align-items: bottom;
    font-size: 3rem;
}

.MissionTitle p {
    font-size: 1rem;
    color:#6C6C6C
}

.PhotoBox {
    width:90vw;
    height: 70vh;
    padding-bottom: 2rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.PhotoChild {
    border: 1px solid black;
}
