.Mission {
    width: 100%;
    height:100vh;
    z-index: -1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../../images//Mission.jpg') center/cover fixed no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.MissionTitle {
    padding-top: 1rem;
    width:  100%;
    display: grid;
    align-items: center ;
    justify-items: center;
}

.MissionTitle h1 {
    display: grid;
    align-items: bottom;
    font-size: 3rem;
}

.MissionTitle p {
    font-size: 1rem;
    color:#6C6C6C
}

.PhotoBox {
    width:90vw;
    height: 80vh;
    padding-bottom: 2rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

#PhotoChild {
    border: 1px solid none;
    
}

#PhotoChild img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    -webkit-transition: 0.4s ease;
    transition:0.4s ease;
} 

.PhotoChild1 img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor: zoom-in
}

.PhotoChild2 img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor: zoom-in
}

.PhotoChild3 img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor: zoom-in
}

.PhotoChild4 img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor: zoom-in
}


.PhotoChild5 img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor: zoom-in
}


.PhotoChild6 img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor: zoom-in
}

@media screen and (max-width:776px){
    .Mission {
        width: 100%;
        height: 100vh;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .MissionTitle {
      display:flex;
      flex-direction: column;
      padding: 0;
      
    }

    .MissionTitle h1{
        font-size: 2rem;
        margin: 0;
    }

    .MissionTitle p {
      margin: 0
    }

    .PhotoBox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .PhotoChild3,
    .PhotoChild4,
    .PhotoChild5,
    .PhotoChild6 {
        display :none;
    }

}