.Preach {
  margin:0;
  padding:0;
  width:100vw;
  height: 200vh;
}

.Preachs {
  width:100%;
  height:50vh;
  position: absolute;
  top: 8vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  ,url('../../../images/preach.jpg') center/cover fixed no-repeat;
}

.PreachHeader {
  width: 100%;
  height: 50vh;
  display:grid;
  align-items: center;
}

.PreachExplain {
  display: grid;
  justify-items: center;
}

.PreachExplain h1  {
  color: #ffffff;
  font-size: 2.5rem;
}

.PreachExplain p {
  color: #ffffff;
  font-size : 1.5rem;
}

.PreachBox {
  position: absolute;
  top: 60vh;
  width:100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}

#box {
  width:80%;
  border: 1px solid black;
  border-radius: 10px;
  display:grid;
  justify-content:center;
  align-items:center;

}
