.Preach {
  margin:0;
  padding:0;
  width:100vw;
  height: 200vh;
}

.Preachs {
  width:100%;
  height:50vh;
  position: absolute;
  top: 8vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  ,url('../../../images/preach.jpg') center/cover fixed no-repeat;
}

.PreachHeader {
  width: 100%;
  height: 50vh;
  display:grid;
  align-items: center;
}

.PreachExplain {
  display: grid;
  justify-items: center;
}

.PreachExplain h1  {
  color: #ffffff;
  font-size: 2.5rem;
}

.PreachExplain p {
  color: #ffffff;
  font-size : 1.5rem;
}

.PreachBox {
  position: absolute;
  top: 70vh;
  width:100%;
  height: auto;
  display: grid;
  justify-items: center;
}

.PreachIntro {  
  width:100vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.PreachTitle {
  padding-left:5rem;
  font-size: 2rem;
  font-weight: bold;
}

.PreachLink {
  display: grid;
  justify-items: center;
}

.PreachLink p {
  margin: 0;
}

.PreachBoxButton {
  border: none;
  font-size:1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background:#d8dfea;
  display: inline-block;
  justify-items: center;
}

.PreachBoxButton:hover {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.PreachBox1 {
  width:100vw;
  height: 100vh;
  display:grid;
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 5rem;
  background: "#f5f9fc"
}

.preachColor {
  color: black;
}

.youTubeIcon {
  font-size:1.6rem;
}

@media screen and (max-width:776px) {
  .PreachIntro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    padding-bottom:1rem;
  }

  .PreachTitle {
    padding: 0;
  }

  .PreachBoxButton i {
    font-size:1.4rem;
  }
  
  .PreachBoxButton p {
    display:none;
    
  }

  .PreachBox1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding:1rem 1rem 0 1rem;
  }

  .PreachFooter {
    display: none;
  }

}
