.Map {
  width: 100vw;
  height: 60vh;
  margin: 0;
}

.Map iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.MapExplain {
  padding-left: 4rem;
  font-size:1rem;
  color: black;
}

.MapMain {
  width:100%;
  height:100%;
}

.steps-action {
  padding:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.ant-steps {
  padding: 1rem 4rem 0rem 4rem;
  font-size: 1.5rem;
  display:flex;
  justify-items: center ;
}

.MapContent h1 {
  display:grid;
  justify-items: center;
  font-size: 3rem; 
}


@media screen and (max-width:776px) {
    .MapExplain {
      display: none;
    }
    .MapContent .ant-steps {
      display: none;
    }

  }